{
	log {
		output stdout
		level DEBUG
	}
	servers {
		timeouts {
			read_body 5m
			read_header 5m
			write 5m
			idle 5m
		}
	}
}

localhost {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type, X-CSRF-Token"
		Access-Control-Allow-Credentials true
	}
	rewrite /api/v1/* /{path}
	reverse_proxy /api/* gateway:3001
}

auth.localhost {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "POST, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type"
		Access-Control-Allow-Credentials true
	}
	reverse_proxy /api/* auth:12345
}

files.localhost {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type, X-CSRF-Token"
		Access-Control-Allow-Credentials true
	}
	reverse_proxy files:50051
}

hello.localhost {
	respond "Hello, World!"
}
