{
	log {
		output stdout
		level DEBUG
	}
	servers {
		timeouts {
			read_body 5m
			read_header 5m
			write 5m
			idle 5m
		}
	}
}

localhost {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type, X-CSRF-Token"
		Access-Control-Allow-Credentials true
	}
	reverse_proxy /api/* gateway:3001
}

# ws.localhost {
# 	reverse_proxy chat:8888
# }

files.localhost {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Authorization, Content-Type, X-CSRF-Token"
		Access-Control-Allow-Credentials true
	}
	reverse_proxy files:50051
}

hello.localhost {
	respond "Hello, World!"
}
