.field {
	@apply flex items-center relative;

	> .textarea {
		@apply w-full border-none outline-none bg-transparent placeholder:text-[#585654] transition-colors duration-300 ease-linear;
		resize: none;
		overflow: hidden;
		padding: 0.5rem;
		font-size: 1rem;
	}

	&:focus-within {
		.icon {
			@apply text-white;
		}
	}

	.icon {
		@apply mr-3 text-[#585654] transition-colors duration-300 ease-linear;
	}

	.error {
		@apply absolute -bottom-5 left-9 text-red-600 text-xs;
	}
}
